.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  background-color: #282c34;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
  min-height: calc(100vh - 100px);
}

.footer {
  min-height: 100px;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
}

.footer a {
  color: #61dafb;
}

.shareButton {
  position: fixed;
  top: 20px;
  right: 70px;
  z-index: 1000;
}

.solution {
  display: flex;
  flex-direction: row;
}


.solutionContainer {
  padding-bottom: 40px;
}